html, body{
    height: 80%;
    max-width: 45%;
    margin-left: 40%;

}

 button{
    margin-bottom: 45px;
    position: relative;
    float: top;
} 

.container {
    overflow: scroll;
}

h1 {
    max-height: 300px;
    min-height: 300px;
}


#btn1{
    float: left;
    
}

#btn2, #btn3{
    float: right;

}


